{
  "extends": ["stylelint-config-recommended"],
  "rules": {
    "font-family-no-missing-generic-family-keyword": [
      true,
      { "severity": "warning" }
    ],
    "declaration-block-no-duplicate-properties": true
  }
}
