* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  font: 14px/22px '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#leftInput,
#rightOutput {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 50%;
}

#rightOutput {
  border-left: 1px solid #ccc;
  left: 50%;
}

textarea {
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  font: 18px/28px Menlo;
  height: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 50px;
  resize: none;
  width: 100%;
}

#rightOutput textarea {
  background: #eee;
}

h2 {
  color: #999;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
}
